.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    position: absolute;
    top: 50%;
    font-size: 70px;



}

.alice-carousel__prev-btn {
    left: calc(-950px/2 + 50px);
    
}

.alice-carousel__next-btn {
    right: calc(-950px/2 + 50px);
}
