.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    position: absolute;
    top: 50%;
    font-size: 70px;
    @media (max-width: 768px) {
    display: none;
    }


}

.alice-carousel__prev-btn {
    left: -45%;
}

.alice-carousel__next-btn {
    right: -45%;
}
